header {
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  .icon-btn {
    background: none;
    border: none;
    outline: none;
  }
  .icon {
    color: #d0d6f9;
    font-size: 2rem;
    background: none;
  }
}
nav {
  display: flex;
  gap: 5%;
  padding-left: 3vw;
  padding-right: 5rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  a {
    padding: 1rem 0px;
    text-decoration: none;
    outline: none;
    color: #d0d6f9;
    font-size: 1rem;
    text-transform: uppercase;

    .nav {
      display: flex;
      gap: 5%;
      flex-direction: row;
    }
    &:hover {
      border-bottom: 3px solid #868282;
    }
  }
}

.nav.active {
  border-bottom: 3px solid #fff;
}
