.technology {
  width: 100%;
  min-height: 89vh;
  margin: 1rem;
  .head {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-transform: uppercase;
    padding: 0;
    @media only screen and (min-width: 650px) {
      justify-content: flex-start;
      padding-left: 2rem;
      padding-top: 2rem;
    }
  }
  .container {
    color: #fff;
  }
}
